.titulo-home{
    font-size: 18px;
}

.welcome-card ion-img{
    max-height: 35vh;
    overflow: hidden;
}

.titulo-produto{
    font-size: 14px;
    font-weight: 300;
}

.preco-produto{
    font-size: 13px;
    font-weight: 200;
}

.margin-l{
    margin-left: 10px;
}