<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">Avaliação</ion-title>
    <ion-button slot="end" (click)="logout()" color="danger">
      <ion-icon slot="end" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="warning">
      <ion-item color="warning">
        <ion-label position="floating">CÓDIGO DO PEDIDO:</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>

 
  <ion-grid class="ion-rating-container" (ionClick) = "log($event)">
    <ion-row>
      <ion-col *ngFor = "let star of stars" tappable (click) = "starClicked(1)">
        <ion-icon [name] = "star" color = "warning"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou do aplicativo?</ion-card-title>
    </ion-card-header>

    <ion-chip color="warning" *ngFor="let number of classification">
      <ion-label color="dark">{{number}}</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-icon name="star-outline"></ion-icon>
    </ion-chip>
  </ion-card>

  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou dos produtos?</ion-card-title>
    </ion-card-header>

    <ion-chip color="warning" *ngFor="let number of classification">
      <ion-label color="dark">{{number}}</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-icon name="star-outline"></ion-icon>
    </ion-chip>
  </ion-card>

  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou do preço?</ion-card-title>
    </ion-card-header>

    <ion-chip color="warning" *ngFor="let number of classification">
      <ion-label color="dark">{{number}}</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-icon name="star-outline"></ion-icon>
    </ion-chip>
  </ion-card>

  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou do tempo de espera?</ion-card-title>
    </ion-card-header>

    <ion-chip color="warning" *ngFor="let estrela of estrelas">
      <ion-label color="dark">{{number}}</ion-label>
    </ion-chip>
    <ion-chip color="warning">
      <ion-icon name="star-outline"></ion-icon>
    </ion-chip>
  </ion-card>

  <!-- Textarea in an item with a floating label -->
  <ion-card>
    <ion-card-header color="warning">
      <ion-item color="warning">
        <ion-label position="floating">COMENTÁRIO: (OPCIONAL)</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>


  <ion-label color = "danger">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button (click)="finalizar()">FINALIZAR</ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-label>

</ion-content>