<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">Avaliação</ion-title>
    <ion-button slot="end" (click)="logout()" color="danger">
      <ion-icon slot="end" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="warning">
      <ion-item color="warning">
        <ion-label position="floating">Protocolo: </ion-label>
        <ion-input [(ngModel)] = "teste"></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou do aplicativo?</ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="2.5"></ion-col>
        <ion-col>
          <ion-icon size="large" color="warning" *ngFor="let item of list; let i = index"
            [name]="condition[1] <= i? 'star-outline' :'star'" (click)="review1(i)">
          </ion-icon>
        </ion-col>
        <ion-col size="2.5"></ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou dos produtos?</ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="2.5"></ion-col>
        <ion-col>
          <ion-icon size="large" color="warning" *ngFor="let item of list; let i = index"
            [name]="condition[2] <= i? 'star-outline' :'star'" (click)="review2(i)">
          </ion-icon>
        </ion-col>
        <ion-col size="2.5"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou do preço?</ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="2.5"></ion-col>
        <ion-col>
          <ion-icon size="large" color="warning" *ngFor="let item of list; let i = index"
            [name]="condition[3] <= i? 'star-outline' :'star'" (click)="review3(i)">
          </ion-icon>
        </ion-col>
        <ion-col size="2.5"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <ion-card-header color="warning">
      <ion-card-title>O que achou do tempo de espera?</ion-card-title>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="2.5"></ion-col>
        <ion-col>
          <ion-icon size="large" color="warning" *ngFor="let item of list; let i = index"
            [name]="condition[4] <= i? 'star-outline' :'star'" (click)="review4(i)">
          </ion-icon>
        </ion-col>
        <ion-col size="2.5"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- Textarea in an item with a floating label -->
  <ion-card>
    <ion-card-header color="warning">
      <ion-item color="warning">
        <ion-label position="floating">COMENTÁRIO: (OPCIONAL)</ion-label>
        <ion-input  [(ngModel)] = "comentario"></ion-input>
      </ion-item>
    </ion-card-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="voltar()">VOLTAR</ion-button>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col> 
      <ion-col>
        <ion-button (click)="finalizar()">FINALIZAR</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>